body {
    position: relative;
    color: black;
  }
h1, p{
    color:black;
}
main{
    display:block;
    max-width: 900px;
    margin: auto;
}

.navbk{
    background-color: white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
.container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#section1 {padding:50px;height:auto;color: #fff; background-color: white;}
#section2 {padding:50px;height:auto;color: #fff; background-color: #eeeeee;}



#photo200px{
    padding-top: 15px;
    max-width: 200px;
    height: auto;
}
#photo300px{
  padding-top: 15px;
  max-width: 300px;
  height: auto;
}

/* https://jsfiddle.net/bootstrapious/sqe028y1*/
.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
  }
  
  .hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-content {
    bottom: 2rem;
  }
  
  .hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0;
  }