html {
  display:block;
  margin: auto;
  }

body {
  font-family: 'Kanit', sans-serif;
  scroll-snap-type: x mandatory;
  position: relative;
  background-color: #031120;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size:20px ;
}

.content{
    max-width: 70%;
}
nav{
    width: 100%;
    background-color: #031120;
}

#navbarFont a{
    color: #b3b9ce;
}


h1{
    position: relative;
    color: #719bd1;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 1.5vw);
}
p{
    color: #b3b9ce;
}
.lists{
    color:#b3b9ce;
    margin-left: 5%;
    list-style-type:square;
}

.section{
    transform: translateY(50%);
    height: 100vh;
    scroll-snap-align: top;
    position: relative;
    top: 50%;
    color: black;
    width:70%;
    left: 0;
}

.section p{
    font-size: 25px;
    padding-left: 5% ;
    width: 95%;
}
/* Style the tab */
.tab {
    margin: auto;
    display:flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    width:60%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #b3b9ce;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    filter:drop-shadow(30px 10px 4px #010911);
  }
  
  /* Style the tab content */
  .tabcontent {
    color: #719bd1;
    margin:auto;
    padding-top: 5%;
    display: none;
    width:50%;
  }
  .tabcontent h4{
    color: inherit;
    margin-left: 5%;
  }

#experiencediv{
    display: none;
}
#experienceactive{
    width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
}

button{
  filter: drop-shadow(30px 10px 4px #010911);
    background-color: #b3b9ce; /* Green */
  border: none;
  color: #b3b9ce;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}