
:root {
  --color-primary: #403d58;
  --color-primary-shadow: #2c2a3d;

  --color-accent: #746594;
  --color-secondary: #5a5c4c;
  --color-tertiary: #9b9f75;
  --color-black: #000000;
  --color-white: #fff;
  --color-grey: #808080;
  --br-sm-2: 14px;
  --box-shadow-1: 0px 3px 15px rgba(0,0,0,0.2);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-accent);
  font-family: inherit;
}

body, html {
  background-color: var(--color-primary);
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
  overflow:hidden;
}

img{
  opacity: 50%;
  height: 200px;
  width: 200px;
}

section{
  display: none;
}

section.active{
  display: block;
}

.title{
  color: var(--color-secondary);
}

.scrollwindow{
  max-height: 60vh;
  height:min-content;
  overflow-y: scroll;
  overflow-x:hidden;
  padding: 0 2%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary); 
}

.introduceMyself{
  color: var(--color-secondary);
  font-size: larger;
}

.socials{
  color: var(--color-accent);
}

.card:hover{
  display: block;
}

.projectImg{
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.project{
  background-image: url('images/compoundInterest.jpeg')!important;
  min-width: fit-content;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.jobDescription{
  display: none;
}

.jobDescription.show{
  display: block;
}

.jobThumb{
  max-width: max-content;
  border-radius: 10px;
  padding: 2px 2%;
  margin: 2% 0 ;
}

.jobThumb:hover, .jobThumb.show{
  background-color: var(--color-primary-shadow);
  cursor: pointer;
}

.round{
  cursor: pointer;
  background-color: gainsboro;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: grey solid 5px;
  z-index: 100;
}

.round i {
  color: grey;
  pointer-events: none;
}

.round.active, .round.active i {
  background-color: #55583d;
  transition: all ease-in-out;
  color: var(--color-white);
}




@media (max-width: 800px) {
  .controls{
    transform: translate(0, -5rem);
  }
}



